.inviter {
    width: 100%;
    float: left;
    position: relative;
    min-height: 36px;
    margin-top: 34px;
    margin-left: -1px;
}

.inviter-recipient-area {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #cbcbcb;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    width: 100%;
    overflow: hidden;
    display: inline-block;
    width: 420px;
    height: 100px;
}

.apps-share-chips-editor {
    margin-bottom: 4px;
    max-height: 100px;
    overflow: auto;
    padding-top: 1px;
    width: inherit;
}

.apps-share-chips-input {
    display: inline-block;
    margin: 7px 4px 0 5px;
    vertical-align: middle;
    background: none;
    border: 0;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 23px;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5px;
    position: relative;
    resize: none;
    min-width: 162px
}

.apps-share-chips-chip {
    background: #d4e4ff;
    display: inline-block;
    -webkit-border-radius: 3px;
    color: #444;
    margin: 6px -5px 0px 8px;
    outline: none;
    vertical-align: middle;
    cursor: default;
    padding: 0;
    -webkit-border-radius: 2px;
    border-radius: 12px;
    overflow: hidden;
    height: 23px;
    padding: 0px 24px 1px 8px;
    position: relative;
    user-select: none;
}

.apps-share-chips-chip-content {
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: baseline;
    white-space: nowrap;
    margin-left: 3px;
    max-width: 365px;
    padding-top: 3px;
}

.apps-share-chips-icon-wrapper {
    display: inline-block;
}

.apps-share-chips-icon-x {
    background: no-repeat url(//ssl.gstatic.com/docs/documents/share/images/sprite-22.svg) 0 -473px;
    opacity: .6;
}

.apps-share-chips-icon {
    vertical-align: baseline;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    width: 21px;
    position: absolute;
    top: 2px;
}

.apps-share-chips-chip-warning {
    background: white;
    border: none;
    border-bottom: 2px dotted #d14836;
    color: black;
    padding-bottom: 0;
    border-radius: 4px;
}

.sharing-people-heading{
    font-family: Open Sans;
    font-size: 20px;
    
}

.sharing-people-heading-bolder{
    font-weight: bolder;
    letter-spacing: 0.8px;
    font-size: 20px;
}

::-webkit-input-placeholder {
    font-family: Open Sans;
    -webkit-text-security: none;
    color: rgb(117, 117, 117);
    pointer-events: none !important;
    letter-spacing: 0.5;
}

.btn{
    background-color: 6699ff;
    border-radius: 4px;
    padding: 7px 17px 11px 16px;
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
    color: white;
    cursor: pointer;
}

.container-btns{
    margin-top: 30px;
    margin-left: 42px;
    font-family: Open Sans;
    font-size: 20px;
}

.btn-container{
    margin-right: 14px;
}

.sharing-inviter-contents{
    padding-top: 29px;
    padding-left: 41px;
    font-family: Open Sans;
}