<div>
    <div class="sharing-inviter-contents">
        <div class="sharing-people-heading">Share <span class="sharing-people-heading-bolder">Board name</span> with other</div>
        <div class="sharing-inviter">
            <div class="inviter">
                <div class="inviter-recipient-area">
                    <div class="apps-share-chips-editor">
                        <span class="apps-share-chips-container" ng-if="inviterEmails.length > 0" ng-repeat="email in inviterEmails track by $index" >
                            <span class="apps-share-chips-chip" ng-class={'apps-share-chips-chip-warning':!email.validEmail} tabindex="-1">
                                <div class="apps-share-chips-chip-content">{{email.emailValue}}</div>
                                <div class="apps-share-chips-icon-wrapper">
                                    <span class="apps-share-chips-icon apps-share-chips-icon-x" ng-click="deleteInviterEmail($index)"></span>
                                </div>
                            </span>
                        </span>
                        <textarea 
                            class="apps-share-chips-input" 
                            placeholder="add more people..." 
                            ng-model="email"></textarea>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
